database:
  user: user
  pass: pass
  host: postgres
  port: 5432
  db: postgres

kafka:
  brokerList: [kafka:9092]
  consumerTopics: [to_create]
  producerTopic: to_processing
  groupId: create-service